@import "../../../pages/admin.component.scss";

#sidebar-wrapper{
    background:$admin-primary-color;
}
.sidebar-heading a{
    color: whitesmoke;
    text-decoration: none;
    transition: all .3s;
}
.sidebar-heading a:hover{
    font-size: 23px;
}